.icon-username{
    background-image: url('../images/username.png');
}
.icon-password{
    background-image: url('../images/password.png');
}
.icon-loginbtn{
    background-image: url('../images/loginbtn.png');
}