/* muse-ui */
.mu-select-content{
    font-size: 24px;
}
.mu-select-action{
    display: none;
}
.mu-list li{
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    padding-left: 15px;
}
.mu-input-line{
    display: none;
}
.mu-input-focus-line{
    display: none;
}
.mu-input{
    width: 170px;
}

// 积分管理
.my-points-container {
    .mint-tab-container-wrap {
        height: 100%;
    }
}

// 实名认证
.my-certification-container {
    .mu-input {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mu-text-field-input {
        height: 100px;
    }
}

/* 个人信息页 */
.my-info-container {
    .mu-input {
        padding: 0;
        margin-bottom: 0;
        min-height: 0;
        width: 100%;
        font-size: 30px;
        .mu-text-field-input {
            text-align: right;
            color: #a8a8a8;
            height: auto;
        }
    }
    .popup-1-item {
        .mu-text-field-input {
            text-align: left;
            height: 100px;
        }
    }
    .mint-popup-bottom {
        width: 100%;
    }
    .picker-center-highlight {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .mint-popup-right {
        z-index: 1000 !important;
    }
}

/* 创建订单页 */
.creat-order-container {

    .select {
        .mu-input {
            width: 100px;
        }
    }
    .mu-input {
        padding: 0;
        margin-bottom: 0;
        min-height: 0;
        width: auto;
    }
    .mu-input-content {
        z-index: 2;
    }
    .mu-input.has-label .mu-input-label.float {
        opacity: 1;
        transform: none;
        color: rgba(0,0,0,.54);
    }
    .mu-input.has-label .mu-input-label {
        opacity: 0;
    }
    .mu-select-action {
        display: block;

        >svg {
            transform: scale(2);
        }
    }
}

// 订单列表
.order-container {
    .mint-tab-container-wrap {
        height: 100%;
    }
}

// 需求池
.apply {

    .select {
        .mu-input {
            width: 100px;
        }
    }
    .mu-input {
        padding: 0;
        margin-bottom: 0;
        min-height: 0;
        width: auto;
    }
    .mu-input-content {
        z-index: 2;
    }
    .mu-input.has-label .mu-input-label.float {
        opacity: 1;
        transform: none;
        color: rgba(0,0,0,.54);
    }
    .mu-input.has-label .mu-input-label {
        opacity: 0;
        line-height: 10px;
        font-size: 18px;
    }
    .mu-select-action {
        display: block;

        >svg {
            transform: scale(2);
        }
    }
    .mu-input-line{
        display: block;
    }
    .mu-input-focus-line{
        display: block;
    }
    .mu-select-input{
        text-align: center;
    }
}